@media only screen and (max-width:530px){
    .container{
        width: 350px;
    }
    .addBox input{
        height: 30px;
        width: 170px;
        font-size: medium;
    }
    .addBox button{
        height: 35px;
        width: 75px;
        font-size: 15px;
    }
  
    .todo{
    width: 300px;
    margin: 10px 25px;
    }
    .taskText{
        width: 170px;
        font-size: 15px;
    }
    .todo button{
        height: 25px;
        width: 45px;
        font-size: 10px;
    }
    .editInput{
        width: 190px;
    }
}


@media only screen and (max-width:400px){
    .container{
        width: 315px;
    }
    .addBox input{
        height: 30px;
        width: 150px;
        font-size: 15px;
    }
    .addBox button{
        height: 35px;
        width: 65px;
        font-size: 15px;
    }
    .todosBox::-webkit-scrollbar{
        width: 3px;
    }
    .todo{
    width: 260px;
    margin: 10px 25px;
    }
    .taskText{
        width: 135px;
        font-size: 15px;
        height: 45px;
    }
    .taskText::-webkit-scrollbar{
        width: 2px;
    }
    
    .todo button{
        height: 25px;
        width: 44px;
        font-size: 12px;
    }
    .editInput{
        width: 150px;
    }
}



@media only screen and (max-width:330px){
    .container{
        width: 270px;
    }
    .addBox input{
        height: 25px;
        width: 130px;
        font-size: 12px;
    }
    .addBox button{
        height: 29px;
        width: 60px;
        font-size: 12px;
    }
    .todosBox::-webkit-scrollbar{
        width: 2px;
    }
    .todo{
    width: 220px;
    margin: 10px 23px;
    }
    .taskText{
        width: 115px;
        font-size: 12px;
        height: 40px;
    }
    .taskText::-webkit-scrollbar{
        width: 2px;
    }
    
    .todo button{
        height: 20px;
        width: 40px;
        font-size: 8px;
    }
    .editInput{
        width: 120px;
    }
}


@media only screen and (max-width:280px){
    .container{
        width: 250px;
    }
    .addBox input{
        height: 25px;
        width: 125px;
        font-size: 10px;
    }
    .addBox button{
        height: 29px;
        width: 55px;
        font-size: 10px;
    }
    .todosBox::-webkit-scrollbar{
        width: 2px;
    }
    .todo{
    width: 200px;
    margin: 10px 20px;
    }
    .taskText{
        width: 115px;
        font-size: 11px;
        height: 40px;
    }
    .taskText::-webkit-scrollbar{
        width: 2px;
    }
    
    .todo button{
        height: 20px;
        width: 40px;
        font-size: 8px;
    }
    .editInput{
        width: 100px;
        height: 20px;
    }
}