*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.705);
    height: auto;
}
.container{
    /* height: 500px; */
    width: 450px;
    margin: 50px 0px;
}

.addBox{
    background-color: yellow;
    height: 60px;
    /* width: 330px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;

}
.addBox input{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-size: medium;
}
.addBox button{
    height: 44px;
    width: 100px;
    margin: 0px 5px;
    border-radius: 20px;
    /* border: 2px solid green; */
    background-color: rgba(0, 128, 0, 0.582);
    color: white;
    font-size: medium;
}


.todosBox{
    /* background-color: orange; */
    height: 450px;
    /* margin: 10px 0px; */
    border: 1px solid yellow;
    border-top: 10px solid black;
    overflow-y: scroll;
}
.todosBox::-webkit-scrollbar{
    width: 5px;
}
.todosBox::-webkit-scrollbar-track{
    border-radius: 20px;
}
.todosBox::-webkit-scrollbar-thumb{
    background-color:yellow;
    border-radius: 20px;
}

.alert h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
}
.todo{
    /* height: 50px; */
    width: 380px;
    margin: 10px 30px;
    background-color: yellow;
    color: black;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.taskText{
    width: 200px;
    overflow-y: scroll;
    height: 80px;
    font-size: 25px;
    font-weight: 200;
}
.taskText::-webkit-scrollbar{
    width: 5px;
}
.taskText::-webkit-scrollbar-track{
    border-radius: 20px;
}
.taskText::-webkit-scrollbar-thumb{
    background-color:orange;
    border-radius: 20px;

}

.todo button{
    height: 30px;
    width: 50px;
    color: white;
    font-size: medium;
}
.edit{
    background-color: green;
}
.delet{
    background-color: red;
}
.editInput{
    height: 30px;
    width: 240px;
    margin: 20px 0px ;
    font-size: medium;
}